@{
    ViewData["Title"] = "Gestion Immo";
}

<div class="text-center">
    <h1 class="display-4">Gestion Immobilière</h1>
    <p>Bienvenue dans votre application de gestion du patrimoine immobilière</p>
</div>
